<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{title}}</title>
      <!--Application level custom css-->
    <link rel='stylesheet' href='/stylesheets/style.css' />
      <!--socket.io 2 CDN-->
    <script src="/socket.io/socket.io.js"></script>
      <!--Bootstrap 4 CDN-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  </head>
  <body>
    {{{body}}}
  </body>

  <script src="/javascripts/socket.js"></script>
</html>
